<footer class="social-footer">
    <a href="https://www.facebook.com/Brass-Dog-Games-1187908231234278/" target="_blank">
        <span class="fa fa-fw fa-facebook social" id="facebook-icon" aria-hidden="true" alt="Facebook page"></span>
        <span class="sr-only">Facebook Page</span>
    </a>
    <a href="https://boardgamegeek.com/boardgamepublisher/31772/brass-dog-games" target="_blank">
        <img class="social-img" src="assets/images/bgg-logo.png" id="bgg-icon" alt="Board game geek profile">
        <span class="sr-only">Boardgame Geek Page</span>
    </a>
    <a href="https://www.instagram.com/brassdoggames/" target="_blank">
        <span class="fa fa-fw fa-instagram social" id="instagram-icon" aria-hidden="true" alt="Instagram Feed"></span>
        <span class="sr-only">Instagram feed</span>
    </a>
</footer>