<link rel="stylesheet" href="styles/about.css">

<div id="maincontent"></div>
<div class="container about-page">
    <h1 class="glow">About Brass Dog Games</h1>
    <div class="row">
        <div class="col-md-8">
            <p>Brass Dog Games is a Tabletop Game company based in St. Paul MN. After our two successful Kickstarter campaigns
                for
                <a href="https://www.kickstarter.com/projects/brassdoggames/take-a-penny">Take a Penny</a> and
                <a href="https://www.kickstarter.com/projects/brassdoggames/poisoners-pour">Poisoner&#39s Pour</a> we are continuing to work on fun highly portable games while expanding to larger and
                more complex projects.
            </p>
            <h4 class="glow">What's with the Brass Dog?</h4>
            <p>We take our name from our mascot Bundles The Brass Dog. Bundles was constructed by Scott on a Friday afternoon
                in the musical instrument repair shop he works in when he&#39s not designing tabletop games. The head is
                made of a trombone bell and his body is part of a saxophone with a tail from a french horn. After a crazy
                week of repairs Scott needed a creative outlet that involved a hacksaw and fire and thus Bundles was born.
                A quiet and reflective dog, Bundles spends most of his time watching over the game shelf while acting as
                a sounding board for new ideas. If it resonates well with him we know we have something.
            </p>
        </div>
        <div class="col-md-4">
            <img src="assets/images/Dog.png" class="img img-responsive" alt="Bundles, the brass dog">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4 class="glow">Brass Dog Games is:</h4>
            <ul class="glow">
                <li>Scott Mims</li>
                <li>Abby Mims</li>
                <li>Aaron Kvarnlov-Leverty</li>
            </ul>
        </div>
        <div class="col-md-8">
            <h4 class="glow">Contact Us:</h4>
            <p>Email:
                <a href="mailto:GM@brassdoggames.com">GM@brassdoggames.com</a>
                </</p>
        </div>
    </div>
</div>