<div id="maincontent"></div>
<div class="container">
  <div class="carousel slide" id="bdgFPCarousel" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#bdgFPCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#bdgFPCarousel" data-slide-to="1"></li>
      <li data-target="#bdgFPCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">


      <!-- POISONER'S POUR -->
      <div class="item bdgCarouselItem active">
        <a href="pp.shtml">
          <img src="assets/images/pp/ppSplash.jpg" alt="Poisoner's Pour">
          <div class="carousel-caption">
            <p>Read your opponents, get the gold and stay upright in this game of bluffing and second guessing your choices...
              and triple guessing. But don&#39t worry. It&#39s only death on the line!
            </p>
          </div>
        </a>
      </div>



      <!-- TAKE A PENNY -->
      <div class="item bdgCarouselItem">
        <a href="tap.shtml">
          <img src="assets/images/tap/tapSplash.jpg" alt="Take a Penny">
          <div class="carousel-caption">
            <p>Read your opponents and plot your move! Will you end up with the most pennies or will you be able to give them
              all away and shoot the moon?</p>
          </div>
        </a>
      </div>


      <!-- MICRO MINERS -->
      <div class="item bdgCarouselItem">
        <a href="mm.shtml">
          <img src="assets/images/mm/mmSplash.jpg" alt="Micro Miners">
          <div class="carousel-caption">
            <p>A Complete Deck Builder for 2 to 4 players that fits in your pocket. Delve deep into the strategy to optimise
              your deck of gems and carts. Pick your time to strike: Load the final gem into your cart, or into your opponent&#39s
              to capitalize on all of their effort</p>
          </div>
        </a>
      </div>
    </div>


    <!-- Left and right controls -->
    <span class="left carousel-control" data-target="#bdgFPCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </span>
    <span class="right carousel-control" data-target="#bdgFPCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </span>
  </div>
</div>