<link rel="stylesheet" href="styles/upcoming.css">
<div id="maincontent"></div>
<div class="container upcoming-game-page">
    <div class="row">
        <div class="col-md-8">
            <h3>Dojo Defense</h3>
            <p>A cooperative worker placement game in which you and your fellow ninjas will fight off wave after wave of pirates
                and scramble to keep your defenses and each other intact.</p>
            <p>Each ninja has unique abilities to fortify your position or cut your enemies down to size.</p>
            <p>You will have to survive attacks from several distinct pirate captains and their artillery to be victorious.</p>
        </div>
        <div class="col-md-4">
            <img class="img img-responsive" src="assets/images/upcoming/conDojo.jpg" alt="Con-goers play Dojo Defense">
        </div>
    </div>
    <hr>
    <div class="row">
        <h3>Quarantine: D.O.A</h3>
    </div>
    <div class="row">
        <div class="col-md-push-4 col-md-8">
            <p>You and up to 5 others must fight to escape the super secret underground facility of your morally ambiguous employer
                after the dreaded quarantine alarm has sounded. You have eight rounds to get what you need and escape before
                the "cleaners" arrive to "take care of you".</p>
            <p>Don&#39t let anyone get in your way in this Take That game of twisted survival.</p>
        </div>
        <div class="col-md-pull-8 col-md-4">
            <img class="img img-responsive" src="assets/images/upcoming/qdoaBoard.png" alt="Quarantine: D.O.A. Map">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <h3>8-Bit Dash</h3>
            <p>Collect treasure and coins while racing to the finish in this 8-Bit Side Scrolling Deck Builder. Use Move, Jump
                and Turbo cards to navigate your way through an ever-advancing landscape but don’t get left behind or you’ll
                get K.O.ed. Can you get the high score?</p>
        </div>
        <div class="col-md-4">
            <img class="img img-responsive" src="assets/images/upcoming/8bit.jpg" alt="8-Bit Dash">
        </div>
    </div>
</div>